@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {
  background: #f5f6f8;
  margin: 0;
  font: 100% "Roboto", sans-serif;
  height: 100%;
}

#bulkIngest {
  height: 100%;
}



.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-dialog-draggable{
  max-height: 650px !important;
  min-width: 85% !important;
  white-space: nowrap;

}
.ui-dropdown.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix {
  width: 100% !important;
}


/*#boolean {
    display:inline;
}*/

.custom-navbar {
  background: #132941;
  padding: 0px 0px;
  border: 0px;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin: 0 0 16px 0;
}
.custom-navbar .navbar-nav li a {
  color: #5986ad;
  line-height: 26px;
  font-size: 18px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ffffff!important;
}
.navbar-brand {
  background: url(https://mediaservices.viacom.com/Content/images/vms-header-logo.png)
    no-repeat;
  width: 75px;
  height: 40px;
  vertical-align: middle;
  margin: 8px 0 !important;
}

.layout-header {
  width: 20%;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: normal;
  color: #ffffff;
  text-transform: capitalize !important;
  left: 16px;
  top: 16px;
  float: left;
  position: relative;
}

/*search bar related classes*/
.Exp-search {
  position: relative;
  width: 0%;
  min-width: 40px;
  height: 40px;
  top: 8px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.ExpInput {
  background: #0e1d30;
  font-family: inherit;
  font-size: 1rem !important;
  color: #ffffff !important;
  margin: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10;
  line-height: 45px !important;
  height: 40px !important;
  font-weight: normal !important;
  border: 0px;
  padding: 8px;
  outline: 0;
}

input[type="search"].ExpInput {
  border: 0;
  outline: 0 !important;
}

input[type=search]:focus:not([readonly]) {
  border: 0;
}

.ExpIcon, .Expbtn {
  width: 40px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.Expbtn {
  background: #132941;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  z-index: -1;
}

.ExpIcon {
  color: #5986ad;
  background: #132941;
  z-index: 90;
  font-size: 1.2rem;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.ExpIcon i {
  line-height: 40px !important;
}

.ExpIcon:before {
  content: "";
}

.Exp-search.Exp-search-open, .no-js .Exp-search {
  width: 50%;
}

.Exp-search.Exp-search-open .ExpIcon, .no-js .Exp-search .ExpIcon {
  background: transparent;
  color: #ffffff;
  z-index: 11;
}

input[type="search"].ExpInput {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  margin: 0;
}

.ExpInput::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
  opacity: 1 !important;
}

/* Search Bar related classes end here*/
.content-section {
  height: calc(100% - 138px);
  position: relative;
}

.content-inner {
  height: 100%;
  width: 100%;
}
.content-inner .row {
  margin: 8px -12px;
}

.required-astrick {
  color: red;
}

#BulkIngestContent .content-form {
  padding: 16px;
}
#BulkIngestContent .panel-group{
  margin-bottom:10px;
}
#BulkIngestContent .panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
}
#BulkIngestContent .panel-group .panel .panel-heading {
  padding: 12px 16px;
  background: #f9fafc;
  position: relative;
}
#BulkIngestContent .panel-group .panel .panel-heading a {
  color: #132841;
  font-weight: 500;
  text-decoration: none;
}
#BulkIngestContent .panel-group .panel .panel-heading a:hover {
  text-decoration: none;
}
#BulkIngestContent .panel-group .panel .panel-heading a .panel-title {
  font-weight: 500;
}
#BulkIngestContent .panel-group .panel .panel-heading .accordion-toggle:after {
  font-family: FontAwesome;
  content: "\f106";
  float: right;
  color: #636c7d;
  padding: 5px;
  height: 25px;
  width: 25px;
  border: 1px solid #cfd7e2;
  background: #ffffff;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-align: center;
  margin: -21px 0 0 0;
  line-height: 12px;
}
#BulkIngestContent .panel-group .panel .panel-heading .collapsed:after {
  content: "\f107";
}
#BulkIngestContent .panel-group .panel + .panel {
  margin-top: 16px;
}
#BulkIngestContent .panel-group .panel-body {
  padding: 0px;
  border-top-color: #dae1e9;
}
#BulkIngestContent .attr-panel {
  border: 0;
  border-top: 1px solid #dae1e9;
}
#BulkIngestContent .attr-panel .panel-heading {
  background: #ffffff !important;
  border-color: #dae1e9;
  padding: 8px 16px !important;
}
#BulkIngestContent .attr-panel .panel-heading a {
  font-weight: normal !important;
  text-decoration: none;
}
#BulkIngestContent .attr-panel .panel-heading a:hover {
  text-decoration: none;
}
#BulkIngestContent .attr-panel .panel-heading a:after {
  content: "" !important;
}
#BulkIngestContent .attr-panel .panel-title {
  /*font-size: 0.9rem;*/
  font-weight: normal !important;
}
#BulkIngestContent .attr-panel .panel-body {
  /*height: 118px;*/
}
#BulkIngestContent .attr-panel .custom-table tr td:first-child {
  width: 30%;
  opacity: 0.6;

}
#BulkIngestContent .attr-panel .custom-table tr td:first-child:hover {
  opacity: 1;
}
#BulkIngestContent .form-group {
  margin-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
}
#BulkIngestContent .form-group:last-child {
  margin-bottom: 0;
}
#BulkIngestContent .form-horizontal .control-label {
  padding-top: 5px;
  margin-bottom: 0;
  text-align: right;
  font-weight: normal;
  /*font-size: 0.9rem;*/
  color: #687484;
}
#BulkIngestContent .form-horizontal .form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  /*height: 32px;*/
  border-color: #d2dce6;
  box-shadow: none;
  padding: 8px;
}
#BulkIngestContent .form-horizontal .form-control:focus {
  border: 1px solid #1bbae1 !important;
  outline: 0;
  box-shadow: none;
}

.row {
  margin-right: -4px;
  margin-left: -4px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #616d7d;
  font-size: 0.9rem;
  line-height: 30px;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #616d7d !important;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #616d7d !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #616d7d !important;
  opacity: 1;
}

input:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #616d7d !important;
  opacity: 1;
}

.custom-table {
  margin-top: 15px;
}
.custom-table tbody tr:nth-of-type(odd) {
  background-color: #f3f4f9;
}
.custom-table tbody tr td {
  padding: 4px 8px;
  /*font-size: 0.9rem;*/
  color: #3c434b;
  vertical-align: middle;
}
.custom-table tbody tr td .fa {
  color: #616d7d;
}
.custom-table tbody tr td .form-group {
  margin-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
}
.custom-table tbody tr td .form-group:last-child {
  margin-bottom: 0;
}
.custom-table tbody tr td .control-label {
  padding-top: 6px;
  margin-bottom: 0;
  text-align: right;
  font-weight: normal;
  font-size: 0.9rem;
  color: #687484;
}
.custom-table tbody tr td .form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  height: 32px;
  border-color: #d2dce6;
  box-shadow: none;

}
.custom-table tbody tr td .form-control:focus {
  border: 1px solid #1bbae1 !important;
  outline: 0;
  box-shadow: none;
}

.custom-table thead tr th {
  vertical-align: bottom;
  background: #dee3e9;
  color: #1f334b;
  /*font-size: 0.9rem;*/
  padding: 4px 8px;
}
.selectAttribute{
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.custom-table tbody tr td:first-child, .custom-table thead tr th:first-child {
  text-align: right;
  padding:4px 16px 4px 8px!important;
}
.custom-table thead tr th:nth-child(2), .custom-table tbody tr td:nth-child(2) {
  text-align: left;
  padding:4px 8px 4px 16px!important;
}
.custom-table td:last-child, .custom-table th:last-child {
  width: 58px;
  text-align: center;
}
.custom-table .dropdown {
  cursor: pointer;
}
.custom-table .dropdown a {
  color: #616d7d;
}
.custom-table .dropdown-menu {
  right: 0;
  left: auto;
}
.custom-table .dropdown-menu li:hover {
  background: #1bbae1;
  color: #ffffff;
}
.custom-table .dropdown-menu li a {
  display: block;
  color: #616d7d;
}
.custom-table .dropdown-menu li a .fa {
  margin: 0 10px 0 0;
}
.custom-table .dropdown-menu li a .fa:hover {
  color: #ffffff;
}
.custom-table .dropdown-menu li a:hover {
  background: #1bbae1;
  color: #ffffff;
}

.btn-bar {
  margin: 8px;
  text-align: right;
}

.round-icon-btns {
  padding: 5px;
  height: 25px;
  width: 25px;
}

.primary-btn {
  background: #7cb87c;
  text-transform: capitalize;
  padding: 8px 16px;
  color: #ffffff;
  line-height: 1;
}
.primary-btn:hover, .primary-btn:focus {
  background: #609860;
  color: #ffffff;
}
.primary-btn i{
  margin:0 8px 0 0;
}

.secondary-btn {
  background: #f9fafc;
  text-transform: capitalize;
  padding: 8px 16px;
  color: #8c8c8a;
  line-height: 1;
  border: 1px solid #cbcbcb;
}
.secondary-btn:hover, .secondary-btn:focus {
  background: #eef0f3;
  color: #8c8c8a;
}



.files-panel {
  height: 100%;
  overflow: auto;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 8px;
  right: -4px;
  top: 0;
  height: 100%;
  background: rgba(210, 217, 227, 0.6);
  border-collapse: collapse;
  border-left: 1px SOLID #c6cad0;
  border-right: 1px SOLID #c6cad0;
}

.panel-header-btn {
  right: 30px;
  margin-right: 20px;
  position: absolute;
  top: 6px;
}

.template-dropdown {
  /*width: 40%;*/
  right: 16px;
  top: 4px;
  position: absolute;
  /*select with no border*/
}
.template-dropdown .select2-container--default .select2-selection--single {
  border: 0;
  height: 26px;
  min-height: 26px;
}
.template-dropdown .select2-container--default .select2-selection--single span.select2-selection__rendered {
  line-height: 22px !important;
}
.template-dropdown .select2-container--default .select2-selection--single span.select2-selection__arrow {
  height: 18px !important;
}
.template-dropdown span.select2-dropdown select2-dropdown--below {
  border-top: 1px solid red;
}
.select2-container--default .select2-selection--multiple:before {
  content: ' ';
  display: block;
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  right: 6px;
  margin-left: -4px;
  margin-top: -2px;
  top: 16px;
  width: 0;
  cursor: pointer
}
.upload-btn {
  padding: 4px 8px;
  font-size: 0.9rem;
  color: #636c7d;
  font-weight: 500;
}
.select2-container--open .select2-selection--multiple:before {
  display:none;
}
.select2-container--open .select2-selection--multiple:after {
  content: ' ';
  display: block;
  position: absolute;
  border-color:  transparent transparent #888  transparent;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  height: 0;
  right: 6px;
  margin-left: -4px;
  margin-top: -2px;
  top: 16px;
  width: 0;
  cursor: pointer
}
.upload-btn {
  padding: 4px 8px;
  font-size: 0.9rem;
  color: #636c7d;
  font-weight: 500;
}
.upload-btn i {
  padding: 0 4px 0 0;
  font-size: 0.9rem;
  color: #636c7d;
}

.table-action-icon {
  padding: 4px 0;
  display: inline-block;
}

.modal-library {
  width: 90%;
}
.modal-library .modal-header {
  padding: 8px 16px;
  background: #f9fafc;
}
.modal-library .modal-header .close {
  color: #666;
  opacity: 1;
  margin-top: 1px;
  font-size: 24px;
}
.modal-library .modal-footer {
  padding: 8px 16px;
  background: #f9fafc;
}
.modal-library .modal-title {
  color: #152a45;
}
.modal-library .modal-body {
  padding: 0 16px !important;
}

.div-file-fixed-list {
  display:inline-block;
  float:left !important;
  max-height:450px;
  min-width: 200px;
  overflow:auto;
}
.div-file-folder-list {
  border-right: 1px solid #cecece;
  border-right: 1px solid #cecece;
  display: table-cell;
  float: none;
  vertical-align: top;
  overflow: auto;
  max-height: 450px;
    /*position: relative;*/
    /*right: 150px;*/
     /*top: 10px;*/
}

.ui-widget-header {
 background-color: #152a45 !important;
}

.folder-list {
  width: 100%;
  float: left;
  color: #363f48;
  opacity: 0.6;
}
.folder-list:hover {
  opacity: 1;
}
.folder-list .fa-angle-right {
  width: 4%;
  text-align: right;
  margin-right:12px;
}
.folder-list i {
  font-size: 0.8rem;
  width: 6%;
  float: left;
  margin: 10px 4px 0 0;
}
.folder-list .folder-list-items {
  width: 68%;
  float: left;
  font-size: 0.8rem;
  margin: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  opacity: 1 !important;
}

input:focus,
textarea:focus,
select:focus,
input[type=search]:focus:not([readonly]) {
  border: 0;
  outline: 1px solid #bdc6d5;
}

li.select2-results_option {
  background: red !important;
}
.select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #d2dce6;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-clip: padding-box;
  min-height: 32px;
  height:auto;
}
 .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #d2dce6!important;
    border-radius: 0!important;
    cursor: text;
     min-height: 32px;
  height:auto;
}
.select2-search__field{
  width:100%!important;
  height:25px!important;
  margin-top:0!important;
  outline:0!important;
  background:#ffffff!important;
  padding:0!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1bbae1;
  color: #fff;

}

.select2-results__option {
  font-size: 0.8rem;
}

select2-search__field,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #d2dce6;
  border-radius: 3px;
  font-size: 0.8rem;
  height:25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    background: #1bbae1;
    color: #fff;
    border: 0;
    font-size: 12px;
    line-height: 20px;
    margin-top: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 5px;
    float: right;
    font-size: 15px;
}
.select2-results__option input[type=checkbox], input[type=radio] {
    margin: 2px 8px 0 0;
    float:left;
    line-height: normal;
    width:20px;
    height:20px

}
#filesTable tr td:first-child {
  opacity: 0.6;
}
#filesTable tr td:first-child:hover {
  opacity: 1;
}

.checkbox {
  padding-left: 0px;
  margin: 0 !important;
  float: left;
  width: 14px;
  margin-right: 8px !important;
  height: 14px;
  top: 8px;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  font-size:14px;
  width: 15px;
  height: 15px;
  left: 0;
  margin-left: 0;
  color: #CDD5E0;
  border: 1px solid #cccccc;
  border-radius: 1px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 14px;
  left: 1px;
  top: 3px;
  margin-left: 0;
  padding-left: 3px;
  padding-top: 0;
  font-size: 8px;
  color: #CDD5E0;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  margin-left: 0;
  z-index: 9;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

/*.row.dheight{*/
  /*max-height: 500px;*/
  /*overflow: auto;*/
/*}*/
